.PostNavigation {
    animation: cssAnimation 0s .8s forwards;
    visibility: hidden;
}

.Input {
    background: black;
    border: black;
    color: #39ff14;
}

.Form {
    display: inline-block;
}

@keyframes cssAnimation {
    to   { visibility: visible; }
}